* {
    box-sizing: border-box;
}
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
     
}
.topnav {
    overflow: hidden;
    background-color: #333;
    z-index: 1000;
    position: relative;

}
.topnav a {
    
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    
    
}
li {display: inline;}

html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}
.global-width { 
	max-width: 620px;
	margin: 0 auto;
	padding: 0 1rem;
}
.scroll-graphic {
	overflow-x: hidden;
	position: sticky;
	top: 0;
	height: 100vh;
}
.graphic-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s;
	will-change: opacity;
}
.visible {
	opacity: 1;
}
.scene-img {
	max-height: 100vh;
}
.scroll-text {
	position: relative;
	padding-bottom: 1px;
}
.step {
	margin-bottom: 60vh;
	padding: 0.5rem 1rem;
	/* border-radius: 10px; */
	background: rgba(204,204,204,.8);
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
	text-align:center;
}
.bird {
	position: absolute;
	left: 0;
	bottom: 70%;
	width: 100px;
	transform: translateX(-100%);
	transition: 1.5s 0.5s linear;
}
[data-index="5"] .bird {
	left: 30%;
	bottom: 30%;
}
.global-footer {
	padding: 2rem 0;
	text-align: center;
}
.strikethrough {
	text-decoration: line-through;
}
.normal-content_global-width{
	color : white;
	text-align: center;

}